<template>
  <div class="container mt-5">
    <div class="row">
      <div class="col form-inline">
        <!--<b-form-input v-model="newTask" placeholder="Enter task" @keyup.enter="add"></b-form-input>-->
        <b-button class="mb-3" variant="primary" @click="add">Add</b-button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="p-2 alert alert-secondary">
          <h3>Ordini Ricevuti</h3>
          <draggable class="list-group kanban-col" :list="arrWaiting" group="tasks">
            <div class="list-group-item mt-1" v-for="elem in arrWaiting" :key="elem.name">
              <div class="col-md-10">
                <h6>{{elem.name}}</h6>
                {{elem.ora}}
              </div>
              <div class="col-md-2">
                <b-button size="sm" variant="danger" @click="del(arrWaiting, elem)">Delete</b-button>
              </div>
            </div>
          </draggable>
        </div>
      </div>

      <div class="col-md-3">
        <div class="p-2 alert alert-warning">
          <h3>In Cucina</h3>
          <draggable class="list-group kanban-col" :list="arrInProgress" group="tasks">
            <div class="list-group-item" v-for="elem in arrInProgress" :key="elem.name">
              <div>
                <h6>{{elem.name}}</h6>
                {{elem.ora}}
              </div>
            </div>
          </draggable>
        </div>
      </div>

      <div class="col-md-3">
        <div class="p-2 alert alert-success">
          <h3>In Consegna</h3>
          <draggable class="list-group kanban-col" :list="arrDone" group="tasks">
            <div class="list-group-item" v-for="elem in arrDone" :key="elem.name">
              <div>
                <h6>{{elem.name}}</h6>
                {{elem.ora}}
              </div>
            </div>
          </draggable>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import draggable from "vuedraggable";


export default {
    name: 'App',
    components: {
      draggable
    },
    data(){
      return {
        newTask:"",
        arrWaiting:[
          {name: "Mario Rossi", ora: "21.20"},
          {name: "Nicoletta Santoro", ora: "21.00"},
          {name: "Giuseppe Verdi", ora: "20.20"},
          {name: "Fabio Bianchi", ora: "21.00"},
          {name: "Gabriele", ora: "21.30"},
          {name: "Giuseppe Conte", ora: "20.10"},
          {name: "Ordinazione 7", ora: "20.15"}
        ],
        arrInProgress: [],
        arrDone:[]
      }
    },
    methods: {
      add() {
        this.newTask = {name: "Nuovo ordine", ora: "20.00"};
        this.arrWaiting.push(this.newTask);
      },
      del(arr, item) {
        const indexTask = arr.indexOf(item);
        if (indexTask > -1) {
          arr.splice(indexTask, 1);
        }
        
      }
    }
  }
</script>

<style>
.kanban-col {
  min-height: 320px;
}
</style>